:root {
  --ghost-white: #f8f9fd;
  --blue-boca: #09184f;
  --grey-text: #292929;
  --yellow-gold: #ffca0a;
  --trans: all 0.5s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  line-height: 1.5;
  font-weight: 400;
}

/* RESETS AND RESUABLE STYLINGS */
img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  outline: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.text {
  font-size: 1.3em;
  margin: 1.2rem 0;
  line-height: 1.7;
  opacity: 0.8;
}

/* END OFRESETS AND RESUABLE STYLINGS */
/* HEADER */
header {
  background: var(--ghost-white);
}

header .container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  padding: 1.5rem 1rem !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00054fd1;
  z-index: 999;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--yellow-gold);
  justify-self: flex-start;
}

.navbar .navbar-brand .navbar-logo {
  width: 50px;
}

.navbar .navbar-toggler {
  -ms-grid-column-align: center;
      justify-self: center;
  border: none;
  color: var(--blue-boca);
  background: var(--yellow-gold);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  position: relative;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}

.navbar .cart {
  justify-self: flex-end;
  padding-right: 8px;
}

.navbar .cart #cart-btn {
  border: none;
  font-size: 1.5rem;
  background: none;
  color: var(--yellow-gold);
  position: relative;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}

.navbar .cart #cart-btn #cart-count-info {
  position: absolute;
  top: -12px;
  right: -8px;
  background: var(--blue-boca);
  color: #fff;
  font-size: 1rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
}

#cart-btn:hover {
  background: var(--ghost-white);
  color: var(--grey-text);
}

.navbar-toggler:hover {
  background: var(--blue-boca);
  color: var(--yellow-gold);
}

.cart-container {
  position: absolute;
  overflow-y: scroll;
  background: #fff;
  width: 100%;
  height: 600px;
  top: 100%;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
  display: none;
}

.cart-container::-webkit-scrollbar {
  width: 8px;
}

.cart-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  background-color: var(--yellow-gold);
}

.navbar-collapse ul {
  list-style-type: none;
}

.navbar-collapse ul li {
  margin: 0.7rem 0;
  letter-spacing: 2px;
  text-align: center;
}

.navbar-collapse ul li a {
  font-size: 1.15rem;
  opacity: 0.7;
}

.cart-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1.2rem 0.6rem;
  height: 140px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.cart-item .cart-item:last-child {
  border-bottom: none;
}

.cart-item img {
  width: 80px;
}

.cart-item .cart-item-info {
  text-align: center;
  margin-right: 2.5rem;
}

.cart-item .cart-item-info span {
  display: block;
}

.cart-item .cart-item-del-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0.04rem 0.315rem;
  font-size: 1.4rem;
  background: var(--blue-boca);
  border: none;
  color: #fff;
  border-radius: 5px;
}

.cart-total {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--blue-boca);
  color: #fff;
}

.cart-total h3 {
  margin-right: 0.2rem;
  font-size: 1.3rem;
}

.cart-total .cart-total-value {
  font-size: 1.3rem;
  font-weight: 600;
}

/* JS RELATED CLASS */
.show-navbar {
  height: 130px;
}

.show-cart-container {
  display: block;
}

/* END OF HEADER */
/* BANNER */
#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(../media/hinchada.jpg);
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#banner .banner-filter {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #102162), color-stop(80%, #0050A5));
  background-image: linear-gradient(180deg, #102162 3%, #0050A5 80%);
  opacity: 0.9;
}

#banner .banner-filter .banner-content {
  margin-top: 7em;
}

#banner .banner-filter .banner-content .banner__logo {
  width: 170px;
  margin: 1rem auto 1rem auto;
}

#banner .banner-filter .banner-content .banner-title {
  font-size: 4.5vw;
  color: #fff;
}

#banner .banner-filter .banner-content .banner-subtitle {
  font-size: 4vw;
  text-transform: uppercase;
  color: var(--yellow-gold);
}

#banner .banner-filter .banner-content .banner-text {
  color: var(--ghost-white);
  font-weight: 500;
  font-size: 1.6vw;
  opacity: 0.9;
}

#banner .banner-filter .banner-content .btns {
  margin: 1.5rem 0;
}

.btn {
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 600;
  border-style: none;
  border-radius: 30px;
  background-color: var(--blue-boca);
  color: #fff;
  padding: 0.7rem 0;
  letter-spacing: 2px;
  display: block;
  width: 180px;
  margin: 0.6rem auto;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}

.btn:last-child {
  color: var(--blue-boca);
  background: var(--yellow-gold);
}

.btn:first-child:hover {
  background: var(--yellow-gold);
  color: var(--blue-boca);
}

.btn:last-child:hover {
  background: var(--blue-boca);
  color: #fff;
}

/* END OF BANNER */
/* PRODUCTS */
#products {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6rem 0;
}

#products .products-title {
  text-align: center;
  background: var(--blue-boca);
  border-radius: 30px;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--yellow-gold);
  margin-bottom: 5rem;
  margin-left: 1em;
  margin-right: 1em;
}

.product-item {
  margin: 1rem 0;
}

.product-item .product-img {
  background: var(--ghost-white);
  padding: 3rem 0;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.product-item .product-img .add-to-cart-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
  padding: 0.75rem 1.2rem;
  font-size: 0.9rem;
  background-color: var(--yellow-gold);
  color: #09184f;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  opacity: 0;
}

.product-item .product-img .add-to-cart-btn :hover {
  margin-right: 0.4rem;
}

.product-item .product-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  margin: 0 auto;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}

.product-item .product-img img img:hover {
  opacity: 0.8;
}

.product-item .product-content {
  padding: 1.6rem 0;
  text-align: center;
}

.product-item:hover .add-to-cart-btn {
  opacity: 1;
}

.add-to-cart-btn .fas {
  margin-right: 0.4rem;
}

.add-to-cart-btn:hover {
  background-color: #23272a;
}

.add-to-cart-btn:hover {
  background-color: var(--blue-boca);
}

.product-name {
  font-size: 1.3rem;
  color: var(--grey-text);
}

.product-category {
  text-transform: uppercase;
  margin: 0.8rem 0;
  display: inline-block;
  font-weight: 500;
  background: var(--blue-boca);
  color: #fff;
  padding: 0.05rem 1.5rem;
  border-radius: 5px;
  letter-spacing: 1px;
}

.product-price {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.6;
}

/* FOOTER */
footer {
  background-color: var(--blue-boca);
}

#footer-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../media/hinchada2.jpg) center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../media/hinchada2.jpg) center/cover no-repeat;
  padding: 0.5rem 0;
}

#footer-banner > div:nth-child(1) {
  margin: 2rem;
}

.btn-button {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border-style: none;
  border-radius: 30px;
  background: var(--yellow-gold);
  color: var(--blue-boca);
  padding: 0.95rem 0;
  letter-spacing: 2px;
  display: block;
  width: 180px;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}

#footer-banner .btn-button:hover {
  background: #fff;
  color: var(--yellow-gold);
  background-color: var(--blue-boca);
}

#footer-banner {
  color: #fff;
  text-align: center;
}

#footer-banner h2 {
  font-size: 2.4rem;
}

#footer-banner .btn-button {
  margin-top: 2rem;
}

footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
}

.social-icons a {
  color: var(--yellow-gold);
  margin: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 1.25rem;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}

.social-icons a:hover {
  color: #fff;
}

/* MEDIA QUERIES */
@media screen and (min-width: 480px) {
  .btns button {
    display: inline-block;
  }
  .btns button:first-child {
    margin-right: 0.4rem;
  }
  .products-title {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (min-width: 680px) {
  .navbar {
    padding: 1rem 6rem !important;
  }
  .cart-container {
    width: 480px;
    left: auto;
    right: 3rem;
  }
  .product-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .products-title {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 1rem 6rem !important;
  }
  .cart-container {
    right: 6rem;
  }
  .product-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #footer-banner {
    text-align: left;
  }
  #footer-banner .text {
    width: 80%;
  }
  #footer-banner .btn {
    margin-left: 0;
  }
  .products-title {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding: 1rem 14rem !important;
  }
  .banner-content {
    font-size: 2rem;
  }
  .cart-container {
    right: 14rem;
  }
  .product-list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .products-title {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */